* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(65, 65, 65, 0.459);
}

#title {
    padding-top: 16px;
    padding-bottom: 4px;
}

#description {
    padding-bottom: 16px;
}

#tooltip {
    position: absolute;
    padding: 12px;
    width: fit-content;
    background-color: aliceblue;
    visibility: hidden;
}

.credit {
    font-size: 12px;
}